<template>
	<div>
    
  </div>
</template>

<script>
	export default{
		name:'Name',
    components:{

    },
		data(){
			return{

			}
		},
		watch:{

		},
		computed:{

		},
		created(){

		},
		mounted(){

		},
		methods:{

		}
	}
</script>

<style lang="scss" scoped>
	
</style>