<template>
<el-container v-loading="loading">
  <el-header height="100%">
    <img src="/logo.svg" alt="" width="300">
<h5>
Test user creation
</h5>
  </el-header>
  <div class="user-input-form">
  <el-main>
    <el-row :gutter="20">
        <el-col :md="17" :xs="24">
    <el-form 
    left
    label-position="left"
    :model="ruleForm" :rules="rules"
    ref="ruleForm" label-width="150px" class="demo-ruleForm">
  
  <el-form-item label="API URL" prop="url">
  <el-autocomplete
  popper-class="my-autocomplete"
  v-model="ruleForm.url"
  class="w-100"
  clearable
  :fetch-suggestions="urlQuerySearch"
  placeholder="Please input"
  @select="handleUrlSelect">

  <template slot-scope="{ item }">
    <div class="value">{{ item.label }}</div>
    <span class="link">{{ item.link }}</span>
  </template>
</el-autocomplete>
  </el-form-item>

  <el-form-item label="Pan card" prop="pan">
 <el-autocomplete
  popper-class="my-autocomplete"
  v-model="ruleForm.pan"
  class="w-100"
  clearable
  :fetch-suggestions="panQuerySearch"
  placeholder="Please input"
  @select="handlePanSelect">

  <template slot-scope="{ item }">
    <div class="value">{{ item.label }}</div>
    <span class="link">{{ item.link }}</span>
  </template>
</el-autocomplete>
  </el-form-item>

  <el-form-item label="Additional info" required>
    <el-col :span="24">
      <el-form-item prop="additinalInfo">
        <el-switch
  v-model="ruleForm.additinalInfo"
  active-color="#13ce66"
  inactive-color="#ff4949">
</el-switch>
      </el-form-item>
    </el-col>


  </el-form-item>

  <!-- <el-form-item label="Instant delivery" prop="delivery">
    <el-switch v-model="ruleForm.delivery"></el-switch>
  </el-form-item> -->

  <!-- <el-form-item label="Activity type" prop="type">
    <el-checkbox-group v-model="ruleForm.type">
      <el-checkbox label="Online activities" name="type"></el-checkbox>
      <el-checkbox label="Promotion activities" name="type"></el-checkbox>
      <el-checkbox label="Offline activities" name="type"></el-checkbox>
      <el-checkbox label="Simple brand exposure" name="type"></el-checkbox>
    </el-checkbox-group>
  </el-form-item> -->

 
  
  <el-form-item>

    <el-button type="primary" @click="submitForm('ruleForm')">Create</el-button>
    <el-button @click="resetForm('ruleForm')">Reset</el-button>
  </el-form-item>
</el-form>
        </el-col>
        <el-col :md="7" :xs="24">

  <el-card class="box-card">
    <div class="text-item">
      <div @click="copyIt(createdUser.email)">
      email: 
      <span id="email">
        {{this.createdUser.email}}
        <i style="width:20px">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 561 561" style="enable-background:new 0 0 561 561;" xml:space="preserve">
<g>
  <g id="content-copy">
    <path d="M395.25,0h-306c-28.05,0-51,22.95-51,51v357h51V51h306V0z M471.75,102h-280.5c-28.05,0-51,22.95-51,51v357    c0,28.05,22.95,51,51,51h280.5c28.05,0,51-22.95,51-51V153C522.75,124.95,499.8,102,471.75,102z M471.75,510h-280.5V153h280.5V510    z" fill="#969696"/>
  </g>
</g>
</svg>
        </i>
        </span>
      </div>
      <span @click="copyIt('asdfasdf1')">
      password: asdfasdf1

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 561 561" style="enable-background:new 0 0 561 561;" xml:space="preserve">
<g>
  <g id="content-copy">
    <path d="M395.25,0h-306c-28.05,0-51,22.95-51,51v357h51V51h306V0z M471.75,102h-280.5c-28.05,0-51,22.95-51,51v357    c0,28.05,22.95,51,51,51h280.5c28.05,0,51-22.95,51-51V153C522.75,124.95,499.8,102,471.75,102z M471.75,510h-280.5V153h280.5V510    z" fill="#969696"/>
  </g>
</g>
</svg>
      </span>
    </div>

</el-card>
        </el-col>
    </el-row>

  </el-main>
  </div>
</el-container>

</template>

<script>
import { randomId } from "../util";
import axios from "axios";

export default {
  name: "Home",
  data() {
    return {
      loading: false,
      urls: [],
      createdUser: {
        email: ""
      },
      defaultPans: [],
      state3: "",
      userInput: {
        url: "https://build.fundsindia.com/rest/fi"
      },
      pans: [
        {
          link: "OEXPX9999X",
          label: "OE"
        },
        {
          link: "OKXPX9999X",
          label: "OK"
        },
        {
          link: "ONXPX9999X",
          label: "ON"
        }
      ],
      environments: [
        {
          link: "https://build.fundsindia.com/rest/fi",
          label: "build.fundsindia.com"
        },
        {
          link: "https://staging.fundsindia.com/rest/fi",
          label: "staging.fundsindia.com"
        },
        {
          link: "https://hotfix.fundsindia.com/rest/fi",
          label: "hotfix.fundsindia.com"
        },
        {
          link: "https://capsule.fundsindia.com/rest/fi",
          label: "capsule.fundsindia.com"
        },
        {
          link: "https://quick-reg-uat.fundsindia.com/rest/fi",
          label: "quick-reg-uat.fundsindia.com"
        },
        {
          link: "https://quickreg.fundsindia.com/rest/fi",
          label: "quickreg.fundsindia.com"
        },
        {
          link: "https://sakha.fundsindia.com/rest/fi",
          label: "sakha.fundsindia.com/"
        },
        {
          link: "https://fundsindia.com/rest/fi",
          label: "fundsindia.com"
        }
      ],
      ruleForm: {
        url: "https://build.fundsindia.com/rest/fi",
        name: "",
        pan: "ONXPX9999X",
        additinalInfo: true
      },
      rules: {
        url: [
          { required: true, message: "Please enter URL", trigger: "change" }
        ],
        pan: [
          { required: true, message: "Please select Pan", trigger: "change" }
        ]
      }
    };
  },
  methods: {
   copyToClipboard(str) {
        const el = document.createElement("textarea"); // Create a <textarea> element
        el.value = str; // Set its value to the string that you want copied
        el.setAttribute("readonly", ""); // Make it readonly to be tamper-proof
        el.style.position = "absolute";
        el.style.left = "-9999px"; // Move outside the screen to make it invisible
        document.body.appendChild(el); // Append the <textarea> element to the HTML document
        const selected =
          document.getSelection().rangeCount > 0 // Check if there is any content selected previously
            ? document.getSelection().getRangeAt(0) // Store selection if found
            : false; // Mark as false to know no selection existed before
        el.select(); // Select the <textarea> content
        document.execCommand("copy"); // Copy - only works as a result of a user action (e.g. click events)
        document.body.removeChild(el); // Remove the <textarea> element
        if (selected) {
          // If a selection existed before copying
          document.getSelection().removeAllRanges(); // Unselect everything on the HTML document
          document.getSelection().addRange(selected); // Restore the original selection
        }
      },
    copyIt(str) {
      this.copyToClipboard(str);
      this.$notify({
        title: "Success",
        message: `Copied ${str}`,
        type: "success"
      });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.createUser();
        } else {
             this.$notify({
        title: "Error",
        message: `Please fill all detials`,
        type: "error"
      });
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      this.createdUser={}
    },
    urlQuerySearch(queryString, cb) {
      var links = this.urls;
      var results = queryString
        ? links.filter(this.createFilter(queryString))
        : links;
      // call callback function to return suggestion objects
      cb(results);
    },
    panQuerySearch(queryString, cb) {
      var links = this.defaultPans;
      var results = queryString
        ? links.filter(this.createFilter(queryString))
        : links;
      // call callback function to return suggestion objects
      cb(results);
    },
    createFilter(queryString) {
      return link => {
        return (
          link.label.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    handleUrlSelect(item) {
      this.ruleForm.url = item.link;
    },
    handlePanSelect(item) {
      this.ruleForm.pan = item.link;
    },
    createUser() {
      const user = {
        email: `${randomId()}@test.com`,
        fundsTag: "FH05",
        mediumThrough: "TEST_SCRIPT",
        mobile: "99999999999",
        password: "asdfasdf1",
        userAgent:
          "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.67 Safari/537.36",
        userName: "Test user"
      };
      this.loading = true;
      axios
        ({
          method:'POST',
          url:`${this.ruleForm.url}/v2/signup/create`,
          data:user,
          validateStatus:  (status)=> {
            this.$notify({
              title: "Server status code",
              message: `Server send status as ${status}`,
              type: "info"
            })
    return status < 500; // Reject only if the status code is greater than or equal to 500
  }
          })
        .then(data => {
          var token = data.headers.xsrf;
          data.data.data.token = token;
          this.createdUser = data.data.data;
          this.updatePan();
        })
        .catch(error => {
          this.loading = false;
          if(error.code){
            
          }
        });
    },
    updatePan() {
      const panDetails = {
        dob: "12/12/1991",
        investorType_Residential: "IN",
        pan: this.ruleForm.pan
      };
      axios({
        url: `${this.ruleForm.url}/v1/registration/panDetail`,
        method: "POST",
        headers: {
          XSRFToken: this.createdUser.token
        },
        data: panDetails
      })
        .then(data => {
          this.loading = false;
          if (data.data.code === 200) {
            this.createdUser.investorId = data.data.data.investorId;
            console.log(this.createdUser.investorId);
            if (this.ruleForm.additinalInfo) {
              console.log("calling");
              this.additinalInfo();
            } else {
            }
          }
        })
        .catch(error => {
          this.loading = false;
        });
    },
    additinalInfo() {
      this.loading = true;
      const info = {
        annualIncome: "4000000",
        countryOfBirth: 1,
        fatherName: "Test script",
        investorId: this.createdUser.investorId || 0,
        location: "C6",
        maritalStatus: "1S",
        motherName: "Test script",
        nationality: 1,
        nomineeName: "",
        occupation: "4",
        officeLocation: "C6",
        politicalEP: "N",
        strAddressLine1: "Test script",
        strAddressLine1Office: "Test script",
        strGender: "1M",
        strPincode: "600004",
        strPincodeOffice: "600004",
        strStateID: "TN",
        strStateIDOffice: "TN",
        tcVersion: "3.5"
      };

      axios({
        url: `${this.ruleForm.url}/v1/registration/additionalInfo`,
        method: "POST",
        data: info,
        headers: {
          XSRFToken: this.createdUser.token
        }
      })
        .then(data => {
          this.loading = false;
          console.log(data);
        })
        .catch(error => {
          this.loading = false;
          console.log(error);
        });
    }
  },
  watch: {},
  computed: {},
  created() {},
  mounted() {
    this.defaultPans = this.pans;
    this.urls = this.environments;
  }
};
</script>

<style lang="scss" scoped>
.el-header {
  width: 100%;
  text-align: center;
}
</style>