<template>
  <div id="app">
    <transition>
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </transition>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'app'
}
</script>

<style>
html body, html body #app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin:0 auto;
  padding: 0;
  max-width: 1200px;
}
.user-input-form .el-main{
    max-width: 1000px;
    margin: auto;
}
</style>
