/* theme color */
$--color-primary: #00D77E;
$--color-success: #00D77E;
// $--color-info: teal;
$--color-warning: #FFC000;
$--color-danger: #EB5757;
$--border-color-base: #4F4F4F !default;
$--border-radius-base: 3px !default;
$--color-white: white;
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */

$--brand-color:#EB5757;

$--btn-radius:2px;


$--btn-primary:#00D77E;
$--btn-secondary: #00D77E;
$--btn-warning: #FFC000;
$--btn-danger: #EB5757;

// $--btn-divider:#E0E0E0;




/* Button
-------------------------- */
// $--button-font-size: 14px !default;
// $--button-font-weight: $--font-weight-primary !default;
// $--button-border-radius: $--border-radius-base !default;
// $--button-padding-vertical: 12px !default;
// $--button-padding-horizontal: 20px !default;

// $--button-medium-font-size: 14px !default;
// $--button-medium-border-radius: $--border-radius-base !default;
// $--button-medium-padding-vertical: 10px !default;
// $--button-medium-padding-horizontal: 20px !default;

// $--button-small-font-size: 12px !default;
// $--button-small-border-radius: #{$--border-radius-base - 1} !default;
// $--button-small-padding-vertical: 9px !default;
// $--button-small-padding-horizontal: 15px !default;

// $--button-mini-font-size: 12px !default;
// $--button-mini-border-radius: #{$--border-radius-base - 1} !default;
// $--button-mini-padding-vertical: 7px !default;
// $--button-mini-padding-horizontal: 15px !default;

// $--button-default-color: $--color-text-regular !default;
// $--button-default-fill: $--color-white !default;
// $--button-default-border: $--border-color-base !default;

// $--button-disabled-color: $--color-text-placeholder !default;
// $--button-disabled-fill: $--color-white !default;
// $--button-disabled-border: $--border-color-lighter !default;

$--button-primary-border: $--btn-primary !default;
// $--button-primary-color: $--color-white !default;
$--button-primary-fill: $--btn-primary !default;

$--button-success-border: $--btn-secondary !default;
// $--button-success-color: $--color-white !default;
$--button-success-fill: $--btn-secondary !default;

$--button-warning-border:$--btn-warning !default;
// $--button-warning-color: $--color-white !default;
$--button-warning-fill: $--btn-warning !default;

$--button-danger-border: $--btn-danger !default;
// $--button-danger-color: $--color-white !default;
$--button-danger-fill: $--btn-danger !default;

// $--button-info-border: $--color-info !default;
// $--button-info-color: $--color-white !default;
// $--button-info-fill: $--color-info !default;

// $--button-hover-tint-percent: 20% !default;
// $--button-active-shade-percent: 10% !default;





/* Tab
-------------------------- */
// $--tab-font-size: $--font-size-base !default;
// $--tab-border-line: 1px solid #e4e4e4 !default;
// $--tab-header-color-active: $--btn-primary !default;
// $--tab-header-color-hover:  $--btn-primary !default;
$--tab-header-color: #828282 !default;
// $--tab-header-fill-active: rgba($--color-black, 0.06) !default;
// $--tab-header-fill-hover: rgba($--color-black, 0.06) !default;
// $--tab-vertical-header-width: 90px !default;
// $--tab-vertical-header-count-color: $--color-white !default;
// $--tab-vertical-header-count-fill: $--color-text-secondary !default;



/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";